.advert {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 400px;
  }
  
  .advert .name {
    font-size: 1.5em;
    margin: 0;
    padding: 0 auto 0 0;
    text-align: left;
  }
  
  .advert .price-wrapper {
    display: flex;
    justify-content: rileftght;
    gap: 5px;
  }
  
  .advert .price {
    font-weight: bold;
    margin: 0;
  }
  
  .advert .sale {
    margin: 0;
  }
  
  .advert .tags {
    display: flex;
    justify-content: ;
    margin-top: 10px;
  }
  
  .advert .tag {
    background-color: #919191;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px 8px;
    margin-right: 5px;
  }
  
  