.layout {
  max-width: 1000px;
  margin: 0 auto;
}

.layout-header {
  background-color: rgb(0, 239, 168);
  border-bottom-width: 1px;
  height: 64px;
  position: sticky;
  top: 0;
}

.layout-main {
  border-left-width: 1px;
  border-right-width: 1px;
  margin: 0 auto;
  max-width: 1660px;
  min-height: calc(100vh - 128px);
}

.layout-title {
  align-items: center;
  border-bottom-width: 1px;
  display: flex;
  height: 52px;
  padding: 0 15px;
}

.layout-footer {
  align-items: center;
  justify-content: center;
  border-top-width: 1px;
  display: flex;
  height: 64px;
}

.layout-header,
.layout-footer {
  padding: 0 15px;
}
